// COLORS
$color-white: #fff;
$color-black: #000;
$color-light: #5658a7cc;
$color-dark: #1c595ecc;
$color-light-grey1: #f7f7f7;

// GRID
$grid-width: 100rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;