.section-about {
    background-color: $color-light-grey1;
    padding-top: 20rem;
    margin: -20vh 1rem;
    padding-bottom: 5rem;
}

.section-stories {
    margin: -20vh 0;
    top: 11.69rem;
    padding: 14rem 0;
    position: relative;
}


